extends layout

block content
  h1= title
  each val in data
    if val.domain
        - var d64 = btoa(val.domain)
        h2 #[a(href='/data/domain/#{d64}') #{val.domain}]
    else
        h2 Missing domain #{val}
  - var domainCount = data.length
  #{domainCount} identity domains
