extends layout

block content
  h1= title
  h3 URLs
  ul
  each url in data.urls
    li #{url}

  each val in data.clients
    h3 client #[a(href='/data/client/#{val._id}') #{val.client_id}]

    each redirect_uri in val.redirect_uri
      p #{redirect_uri}
    h4 scope
    ul
      each scope in val.scope
        li #{scope}

    h4 claims
    ul
      each claims in val.claims
        li #{claims}

  a(href='/data') back
